body {
    margin: 0;
}

#container {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(12, 1fr);
    background-image: url('./images/background.jpg');
    background-size: cover;
}

#header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 13;
    background-color: white;
}

#pages {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif
}

#tickethack {
    color: green;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif
}

#title {
    text-align: center;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 13;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    grid-row-start: 3;
    grid-row-end: 10;
    grid-column-start: 1;
    grid-column-end: 13;
}

#search {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 15px;
    background-color: white;
}

#available-trips {
    border-radius: 15px;
    background-color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif
}

#btn-search {
    color: white;
    background-color: green;
}

#search-departure {
    background-color: lightgrey;
}

#search-arrival {
    background-color: lightgrey;
}

#calendar {
    background-color: lightgrey;
}

p {
    text-align: center;
}